@using System.Security.Claims
<div class="navbar navbar-nav navbar-right">
    @if (User.IsSignedIn())
    {
        <form method="post" asp-controller="Account" asp-action="Logout" class="navbar-form">
            @User.GetUserName()
            <input type="submit" value="Logout" class="btn btn-primary btn-xs"/>
        </form>
    }
    else
    {
        <a class="btn btn-default btn-xs navbar-btn" asp-controller="Account" asp-action="Login">Login</a>
        <a class="btn btn-default btn-xs navbar-btn" asp-controller="Account" asp-action="Register">Register</a>
    }
</div>