@model OdeToFood.Entities.Restaurant
@{ 
    ViewBag.Title = Model.Name;
}

<h1>Restaurant name: @Model.Name</h1>
<div>Restaurant id: @Model.Id</div>
<div>Restaurant cuisine: @Model.Cuisine</div>
<div>
    @Html.ActionLink("Home", "index")
</div>
