@model OdeToFood.Entities.Restaurant

<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
    <h1>Restaurant name: @Model.Name</h1>
    <div>
        @Html.ActionLink("Home", "index")
    </div>
</body>
</html>