@model Restaurant
@{ 
    ViewBag.Title = Model.Name;
}

<section class="panel panel-default">
    <div class="panel-heading">@Model.Name</div>
    <div class="panel-body">
        Cusine: @Model.Cuisine
    </div>
</section>
