@model IEnumerable<OdeToFood.Models.Restaurant>

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome! ☺</h1>
    <div>
        This is the home page
    </div>
    <h2>Restaurants list:</h2>
    <table>
        @foreach (var restaurant in this.Model)
        {
            <tr>
                <td>@restaurant.Id.</td>
                <td>@restaurant.Name</td>
            </tr>
        }
    </table>
</body>
</html>