@model OdeToFood.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Home";
}

<h1>Welcome! ☺</h1>
<h3>Restaurants list:</h3>
@foreach (var restaurant in this.Model.Restaurants)
{
    @Html.Partial("_RestaurantSummary", restaurant)
}

<div>
    <a asp-action="Create">Create</a>
</div>

@section footer {
    <div>@Model.CurrentGreeting</div>
}